#monthpicker select {
    font-size: 2em;
    border: 0px;
    border-bottom: 2px solid black;
}


h3 {
    border-top: .25em solid #44aa77;
    border-bottom: .25em solid #44aa77;
    padding: .25em;
    padding-bottom: .5em;
    margin-top: 1em;
    line-height: 30px;
    background-color: #ccffcc; 
}
    
h4 {
    text-align: center;
    margin-bottom: 1px;
}
